@use "@fortawesome/fontawesome-free/scss/fontawesome" as fa;
@use "@fortawesome/fontawesome-free/scss/regular" as far;
@use "@fortawesome/fontawesome-free/scss/brands" as fab;

$primary: #39f;

@use "bulma/sass" with (
  $primary: $primary,
  $info: #209cee,
  $link: $primary,
  $grey-lighter: hsl(0, 0%, 86%),

  $tabs-link-active-color: $primary,
  $tabs-link-active-border-bottom-color: $primary,
  
  $table-row-active-background-color: $primary,
  $table-row-active-color: #fff
);

:root {
  --strikers-red: #d51c21;
  --strikers-gold: #c38820;
}

// ======================================================
// 3️⃣ Rest of your styles
// ======================================================
a:hover {
  color: var(--bulma-info);
}

.is-max-width-30em {
  max-width: 30em !important;
}

.is-size-1-95-mobile {
  @media screen and (max-width: 796px) {
    font-size: 1.95em !important;
  }
}

.is-border-top-grey-lighter {
  border-top: solid 1px var(--bulma-grey-lighter);
}

.is-max-width-480 {
  max-width: 480px;
  margin: 0 auto;
}

.container {
  &.narrow {
    max-width: 40em !important;
  }

  &.narrower {
    max-width: 50em !important;
  }
}

.button {
  &.is-multiline {
    white-space: unset;
    height: auto;
    text-align: left;
    overflow-wrap: anywhere;
  }
}

// ======================================================
// 5️⃣ Replace Sass breakpoints with media queries
// ======================================================
.is-hidden-mobile {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.px-1-0-mobile {
  @media screen and (max-width: 1023px) {
    padding-left: 1em !important;
    padding-right: 0 !important;
  }
}

.px-0-mobile {
  @media screen and (max-width: 1023px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

// ======================================================
// 6️⃣ Colors and borders
// ======================================================
.no-border {
  border-style: none !important;
}

.is-color-strikers-gold {
  color: var(--strikers-gold) !important;
}

// ======================================================
// 7️⃣ Backgrounds and shadows
// ======================================================
.has-background-DSCF8158 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/photos/team.webp");
  background-size: cover;
  background-position: top center;
}

.has-text-shadow-1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

// ======================================================
// 8️⃣ Width helpers
// ======================================================
.is-width-75-percent-and-centered {
  @media screen and (min-width: 796px) {
    width: 75%;
    margin: 0 auto;
  }
}

.is-width-40-percent-and-centered {
  @media screen and (min-width: 796px) {
    width: 40%;
    margin: 0 auto;
  }
}

.has-no-wrap {
  white-space: nowrap;
}

.has-width-99-percent {
  width: 99%;
}

// ======================================================
// 9️⃣ Mark labels
// ======================================================
.mark-new {
  background-color: #0f0;
  outline: solid 10px #0f0;
}

.mark-removed {
  background-color: #ccc;
  outline: solid 10px #ccc;
}

.mark-changed {
  background-color: #ffc;
  outline: solid 10px #ffc;

  strike {
    color: #f00;
    font-weight: bold;
  }

  strong {
    color: #090;
    text-decoration: underline;
  }
}